<div class="sidebar-tags">
    <h4>Tags</h4>
    {% comment %}
      site.tags is a hash, not an array. We can't sort it directly.
      Instead, we can sort by the size of the posts array for each tag.
    {% endcomment %}
    {% assign sorted_tags = site.tags | sort | sort: "last.size" | reverse %}

    <div class="tag-chips">
        {% for tag in sorted_tags limit:30 %}
            {% assign tag_name = tag | first %}
            <a href="{{ site.tag_archive.path | relative_url }}#{{ tag_name | slugify }}" class="tag-chip">{{ tag_name }}</a>
        {% endfor %}
    </div>
</div>