<div class="sidebar-tags">
    <h4>Tags</h4>
    {% assign tags = site.tags | sort %}

    <div class="tag-chips" style="margin-top: 10px;">
      {% for tag in tags limit:30 %}
        {% assign tag_name = tag | first %}
        {% assign tag_size = tag | last | size %}
        {% if tag_size > 0 %}
          <a href="{{ site.tag_archive.path | relative_url }}{{ tag_name | slugify }}/" class="tag-chip">
            {{ tag_name }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
</div>
