{% if site.tag_archive.path %}
  {% assign tags_sorted = page.tags | sort_natural %}

  <div class="page__taxonomy">
    <strong><i class="fas fa-fw fa-tags" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }} </strong>
    <span class="tag-chips">
      {% for tag_word in tags_sorted %}
        <a href="{{ site.tag_archive.path | relative_url }}{{ tag_word | slugify }}/" class="tag-chip" rel="tag">{{ tag_word }}</a>
      {% endfor %}
    </span>
  </div>
{% endif %}