.card {
  border: 1px solid #bdbdbd; /* 카드 전체에 실선 테두리 추가 */
  border-radius: 15px; /* 1. 카드 테두리를 둥글게 */
  overflow: hidden;    /* 둥근 테두리 밖으로 내용이 나가지 않도록 설정 */
  box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* 그림자를 더 진하게 수정 */
  transition: transform 0.2s; /* 부드러운 효과를 위한 transition */
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
}
.card:hover {
  transform: translateY(-5px); /* 마우스를 올렸을 때 살짝 위로 올라가는 효과 */
}
.card__image-link {
  display: block;
  height: 66.66%; /* 이미지 링크 영역이 카드 높이의 2/3를 차지하도록 고정 */
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 100%;
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 3. 이미지 높이가 영역을 넘어가면 잘라내고 채움 */
}
.card__content {
  height: 33.34%; /* 콘텐츠 영역이 카드 높이의 1/3을 차지하도록 고정 */
  padding: 1em 1em 1em 1.5em; /* 위, 오른쪽, 아래, 왼쪽 여백 설정 */
  border-top: 1px solid #6b6b6b; /* 이미지와 콘텐츠 사이에 실선 추가 */
}