---
layout: archive
---

{{ content }}

{% comment %} 'projects' 컬렉션의 문서들을 'project_category' 필드를 기준으로 그룹화합니다. {% endcomment %}
{% assign projects_grouped = site.collections.projects | group_by: "project_category" %}

{% assign projects_max_count = 0 %}
{% for group in projects_grouped %}
  {% if group.items.size > projects_max_count %}
    {% assign projects_max_count = group.items.size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..projects_max_count) reversed %}
    {% for project in projects_grouped %}
      {% if project.items.size == i %}
        <li>
          <a href="#{{ project.name | slugify }}">
            <strong>{{ project.name }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..projects_max_count) reversed %}
  {% for project in projects_grouped %}
    {% if project.items.size == i %}
      <section id="{{ project.name | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ project.name }}</h2>
        <p></p>
        <div class="entries-{{ entries_layout }}">
          {% for post in project.items %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}