---
layout: archive
---

{{ content }}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% comment %} 사이트의 모든 페이지 중에서 layout이 'project'인 페이지만 선택합니다. {% endcomment %}
  {% assign project_pages = site.pages | where: "layout", "project" %}
  
  {% for p in project_pages %}
    <div class="list__item">
      <article class="archive__item">
        <h2 class="archive__item-title">
          <a href="{{ p.url | relative_url }}" rel="permalink">{{ p.title }}</a>
        </h2>
      </article>
    </div>
  {% endfor %}
</div>